:root{
    /* variables globales, personalizar propiedades, para colores que se repiten*/
    --blanco: #ffffff;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --oscuro: #212121;
}
html{
    box-sizing: border-box;
    min-height: 100%;
    /* controlar el scroll  y vertical, mandatory */
    scroll-snap-type: y mandatory;
}
p{
    line-height: 2;/* establcer la altura de la casilla remarcada por lineas , distancia entre lienas de texto*/
}
body{
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(top top, #dfe9f3, white 100%);   
}
h1{
    font-size: 1.4rem;
}
span{
    font-size: 1rem;
}
h1,h2,h3{
    text-align: center;
}
h2{
    font-size: 2.4rem;
}
h3{
    color: var(--secundario);
    font-weight: 400;
    font-size: 1.6rem;
}

.contenedor{
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    max-width: 1200px;
}

.nav-bg{
    background-color: var(--secundario);
}
.navegacion{
    /*scroll-snap-align: center;*/
    /*scroll-snap-stop: always;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*responsive*/
@media (min-width:768px){
    .navegacion{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion a
{
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}
/*:hover de CSS coincide cuando el usuario interactúa con un elemento con un dispositivo señalador, pero no necesariamente lo activa. Generalmente se activa cuando el usuario se desplaza sobre un elemento con el cursor (puntero del mouse).*/
.navegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
/* :last-of-type representa el último elemento de su tipo entre un grupo de elementos hermanos.*/
.navegacion a:last-of-type {
    margin-bottom:0;
}
@media (min-width:768px) {
    .navegacion a{
        margin-bottom: 0;
    }
}
.imagen{
    height: 450px;
    background-image: url(../imagenes/pexels-christina-morillo-1181467.jpg);
    margin-bottom: 2rem;
    position:relative;
    background-size: cover;
}
.contenido-img h2, 
.contenido-img p {
    color: var(--blanco);
}
.contenido-img{
    background-color: rgb(0 0 0 / 70%); /** Otra opción **/
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    margin-top: .5rem;
    padding: .5rem 3rem;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    border:none;
}
.boton:hover{
    cursor: move;
    background-color: var(--primario);
    color: var(--oscuro);
}
.contenedor{
    margin: auto;
}

@media (min-width:768px) {
    .servicios {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        column-gap: 1rem;
    }
}
/* disponer en  columnas
*/
.servicio {
    text-align:center;
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconos {
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    border-radius: 50%;
    
}
.formulario {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 10px;
   /* scroll-snap-align: center;
    scroll-snap-stop: always;9*/
}
.formulario legend {
    text-align:center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
.contenedor-campos {
    display: flex;
    justify-content: space-between;
   /* La propiedad flex-wrap de CSS  especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas.*/
    flex-wrap: wrap;
    
}
.campo {
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width:480px) {
    .campo {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .campo{
        flex: 0 0 calc(50% - .5rem)
    }
}
.campo label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}

@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}

.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}
@media (min-width: 768px) {
    :is(.campo) :is( 
        input[type="text"], 
        input[type="text"],  
        input[type="tel"],  
        input[type="mail"] , 
        textarea ) {
        flex: 1;
    }
}

.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}
.enviar {
    display: flex;
    justify-content:last baseline;
    margin: auto;
}
.footer {
    text-align: center;
}